# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
build
.cache/clangd/index
.build
skeleton/__pycache__
.gitignore
FEIStyle/example_paper.acn
FEIStyle/example_paper.acr
FEIStyle/example_paper.alg
FEIStyle/example_paper.glg
FEIStyle/example_paper.glo
FEIStyle/example_paper.gls
FEIStyle/example_paper.ist
FEIStyle/example_paper.lol
FEIStyle/example_paper.synctex.gz
FEIStyle/example_paper.aux
FEIStyle/example_paper.bbl
FEIStyle/example_paper.bcf
FEIStyle/example_paper.blg
FEIStyle/example_paper.fdb_latexmk
FEIStyle/example_paper.fls
FEIStyle/example_paper.loa
FEIStyle/example_paper.lof
FEIStyle/example_paper.log
FEIStyle/example_paper.log
FEIStyle/example_paper.log
FEIStyle/example_paper.log
FEIStyle/example_paper.lot
FEIStyle/example_paper.out
FEIStyle/example_paper.pdf
FEIStyle/example_paper.pri
FEIStyle/example_paper.run.xml
FEIStyle/example_paper.toc
FEIStyle/example_paper.log
